header {
  width: 100%;
  height: 56px;
  background-color: #21272e;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .getillust {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.71px;
    color: white;
    display: flex;
    justify-content: start;
    cursor: pointer;
  }

  .avatar {
    width: 32px;
    height: 32px;
    border: solid 1px rgba(255, 255, 255, 0.14);
    border-radius: 20px;
    background-image: url("../../public/img/girl.jpg");
    background-repeat: round;
    cursor: pointer;
    flex-shrink: 0;
  }

  .icons {
    display: flex;
    align-items: center;
    .heart, .cart, .avatar{
      margin-right: 20px;
    }
  }

  .heart {
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
  }

  .cart {
    width: 21px;
    height: 20px;
    object-fit: contain;
    position: relative;
    cursor: pointer;
    left: 0;

    img {
      background: white;
      border: 2px solid white;
      border-radius: 35px;

    }
  }

  .badge {
    border-radius: 20px;
    width: 6px;
    height: 6px;
    background-color: #d14536;
    position: absolute;
    left: 21px;
    bottom: 16px;

  }
}