.authorsSlider{
  margin-bottom: 86px;

  .slick-slider{
    position: relative;
    margin-right: -50px;
  }

  .slick-slide {
    width: max-content;
  }

  .authorsSlide{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .text{
      cursor: pointer;
      bottom: 0;
      left: 0;
      text-align: center;
    }

    .authorsImage {
      position: relative;
      left: 0;
      width: 72px;
      height: 72px;
      border: solid 1px #edeef0;
      border-radius: 38px;
    }

    .artworksNum {
      font-family: zeitung, sans-serif;
      font-size: 12px;
      color: #8f9499;
    }

  }

}
