
.slideshow-container {
  h2 {
    font-weight: normal;
  }
    .slick-prev {
      left: -50px;
    }


}

.slick-arrow {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  box-shadow: 0 6px 14px -6px rgba(0, 0, 0, 0.29);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: #fafbfc;
  }

  &::before {
    content: url("../../public/img/checvron.svg");
  }

}

.slick-disabled {
  display: none;
}

.slick-prev {
  &::before {
    transform: rotate(180deg);
  }
}

.slide {
  width: 192px !important;
  height: 202px;
  border: solid 1px #edeef0;
  background-color: #fafbfc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;


  img {
    position: relative;
    left: 0;
    width: 192px;
    height: 147px;
  }
}


.text {
  font-size: 14px;
  text-align: center;
  color: #12161a;
  position: relative;
  bottom: -16px;
}


