

.slideshow-container {
  //max-width: 1000px;
  position: relative;
  //margin: auto;
  background: burlywood;
  display: flex;
  flex-wrap: wrap;
}

.slide{
  width: 192px;
  height: 202px;

  img {
    position: relative;
    left: 0;
    width: 192px;
    height: 147px;
  }
}

/* Hide the images by default */
//.mySlides {
//  display: none;
//}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  width: 48px;
  height: 48px;
  box-shadow: 0 6px 14px -6px rgba(0, 0, 0, 0.29);
  background-color: var(--white);

}

///* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



.text {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #12161a;
}


.fullSizeSlides {
  max-width: 1056px;
  display: flex;

}