.slick-arrow {
  width: 48px;
  height: 48px;
  border-radius: 25px;
  box-shadow: 0 6px 14px -6px rgba(0, 0, 0, 0.29);
  background-color: white;
  display: flex;
  align-items: center;
  right: 28px;
  justify-content: center;
  z-index: 2;

  &:hover {
    background: #fafbfc;
  }

  &::before {
    content: url("../../public/img/checvron.svg");
  }
}

.slick-prev {
  left: -16px;

  &::before {
    transform: rotate(180deg);
  }
}

.slide {
  padding: 10px;

  &__content {
    border: solid 1px #edeef0;
    background-color: #fafbfc;
    padding: 20px;
  }

  img {
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    height: 147px;
    background: tomato;
  }

  .text {
    font-size: 14px;
    text-align: center;
    color: #12161a;
    margin-top: 11px;
  }
}


.styleSection {
  .slick-slider {
    margin-left: -10px;
    margin-right: -50px;
  }
}

.arrowFade {
  position: absolute;
  height: 100%;
  width: 150px;
  top: 0;
  z-index: 2;
  bottom: 0;

  &--prev {
    left: 0;
    background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
  }

  &--next {
    right: 0;
    background: linear-gradient(to left, white 30%, rgba(255, 255, 255, 0.8) 60%, rgba(255, 255, 255, 0));
  }
}

@media all and (max-width: 800px){

  .styleSection {
    .slick-slider {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}