footer {
  background-color: #21272e;
  font-size: 12px;
  color: white;
  padding: 60px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
      text-decoration: none;
      color: white;
      font-size: 12px;
    }
  }
}

@media all and (max-width: 800px) {
  footer {
    .links {
      width: 100%;
    }
  }
}

@media all and (max-width: 600px) {
  .getillust {
    margin-bottom: 40px;
  }
  footer .container {
    flex-direction: column;
  }
}

@media all and (max-width: 400px) {
  footer .links {
    flex-direction: column;
    height: 200px;
  }
}